<%- include("navbar") -%>
<h1 id="level-title">Press Enter Key to Start</h1>

<div class="cont">
  <div>
    <div type="button" id="green" class="bton green"></div>
    <div type="button" id="red" class="bton red"></div>
  </div>

  <div>
    <div type="button" id="yellow" class="bton yellow"></div>
    <div type="button" id="blue" class="bton blue"></div>
  </div>
</div>

<%- include("footer") -%>
