<%- include("navbar") -%>
<div class="rules">
  <ul>
    <li>Enter your Name</li>
    <li>Then Press Enter Key</li>
    <li>One of the four colour buttons present, will blink</li>
    <li>Now it's your chance, click on the blinked colour button</li>
    <li>Now again it's computer's chance and again one button will be blinked</li>
    <li>Then again it's your chance</li>
    <li>But this time, you need to press the first button, that you have pressed just before and then
      the button which has blinked just now
    </li>
    <li>Now its computer's chance, so one of the buttons will be blinked again</li>
    <li>Then its your chance, so now you have to again press the all previous buttons in the same order, and only then you 
      have to press the newly blinked button
    </li>
    <li>In this way the game continues</li>
    <li>The Game Ends when you press the buttons in wrong order</li>
    <li>Hint: Remember the order of the buttons you pressed</li>
  </ul>
</div>
<h2 id="demo">DEMO</h2>
<video class="vid" controls>
  <source src="videos/demo.mp4" type="video/mp4">
  <source src="videos/demo.ogg" type="video/ogg">
  Your browser does not support the video tag.
</video>
<%- include("footer") -%> 